body {
    background-color: blue;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #dogimage {
    text-align: center;
  }
  
  #dogimage img {
    max-width: 400px;
    max-height: 500px;
  }
  
  .primary-button {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  