body {
    background-color: rgb(172, 172, 233);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #dogimage {
    text-align: center;
  }
  
  #dogimage img {
    max-width: 350px;
    max-height: 500px;
  }
  
  .primary-button {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  .hover-button {
    background-color: #257beb;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .hover-button:hover {
    background-color: #4f6df1;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
 
  
  
  
  
  

  
  